SearchHotelWCF/HotelSearch/Connected Services/HotelServiceReference/SearchHotelWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SearchHotelWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SearchHotelWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelModel" nillable="true" type="tns:HotelModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelModel" nillable="true" type="tns:ArrayOfHotelModel" />
  <xs:complexType name="HotelModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HotelAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelId" type="xs:int" />
      <xs:element minOccurs="0" name="HotelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelRating" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelModel" nillable="true" type="tns:HotelModel" />
</xs:schema>